<ul class="messages" #messages>
  <li *ngFor="let message of chatService.messages$ | async">
    <div class="author">
      {{ message.createdBy }}
      <span class="stamp">{{ message.createdAt | date: "shortTime" }}</span>
    </div>
    <div class="text">
      {{ message.text }}
    </div>
    <div class="tools" *ngIf="message.createdBy == chatService.currentUserId">
      <button>Edit</button> &#160; <button>Delete</button>
    </div>
  </li>
</ul>

<form class="form" (submit)="onSendMessageSubmit(messageInput)">
  <input class="input" placeholder="Message" required #messageInput />
</form>
