:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  overflow: auto;
  height: 1px;
}

.messages > li {
  padding: 12px 23px;
  position: relative;
}

.messages > li:first-child {
  margin-top: auto !important;
}

.author {
  font-weight: 700;
}

.stamp {
  color: #9a9fa8;
  font-weight: normal;
}

.text {
  margin-top: 5px;
}

.tools {
  display: none;
  position: absolute;
  top: 12px;
  right: 23px;
}

.tools > * {
  margin-left: 5px;
}

.messages > li:hover {
  background: #f2f2f2;
}

.messages > li:hover .tools {
  display: block;
}

.update .actions {
  padding: 0 16px;
}

.update .actions > * {
  margin-right: 5px;
}

.updated {
  margin-top: 5px;
}

.deleted {
  margin-top: 5px;
}

.form {
  display: flex;
}

.input {
  flex-grow: 1;
  display: block;
  padding: 12px 14px;
  border: 1px solid #868d98;
  margin: 16px;
  border-radius: 3px;
}
