<ng-container *ngIf="chatService.connected$ | async; else notConnected">
  <ng-container *ngIf="chatService.joined$ | async; else notJoined">
    <ng-container *ngIf="chatService.participants$ | async as participants">
      <div class="container">
        <div class="header">Status meeting Standup</div>
        <div class="tabs">
          <div
            class="tab"
            [class.selected]="selectedTab == 0"
            (click)="selectedTab = 0"
          >
            Participants ({{ participants?.length }})
          </div>
          <div
            class="tab"
            [class.selected]="selectedTab == 1"
            (click)="selectedTab = 1"
          >
            Chat
          </div>
        </div>
        <div class="content">
          <app-participants-list
            *ngIf="selectedTab == 0 && participants"
            [participants]="participants"
          ></app-participants-list>
          <app-chat *ngIf="selectedTab == 1"> </app-chat>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #notJoined>
    <div *ngIf="!joining; else showJoining">
      <form (submit)="onJoinSubmit(nickName.value)">
        <label for="nickNameInput">Nick name:</label>
        <input id="nickNameInput" required #nickName />
        <input type="submit" value="Join" />
      </form>
    </div>
    <ng-template #showJoining>Joining...</ng-template>
  </ng-template>
</ng-container>

<ng-template #notConnected>Connecting...</ng-template>
