:host {
  font-family: "LL Circular", "Montserrat", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #354052;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background: #ebebeb;
  padding: 20px;
  text-align: center;
}

.tabs {
  background: #ebebeb;
  display: flex;
}

.tabs > .tab {
  padding: 20px;
  border-bottom: 1px solid #e1e3e5;
  text-align: center;
  flex-grow: 1;
  user-select: none;
  cursor: pointer;
  width: 100%;
}

.tabs > .tab.selected {
  background: #fff;
  border: 1px solid #e1e3e5;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  cursor: default;
}

.tabs > .tab.selected:first-child {
  border-radius: 0 5px 0 0;
  border-left: 0;
}

.tabs > .tab.selected:last-child {
  border-radius: 5px 0 0 0;
  border-right: 0;
}

.content {
  flex-grow: 1;
  overflow: auto;
}
